@*

*@

@model IEnumerable<OrderDetailsViewModel>

@{
    ViewData["Title"] = "Order";
}


<head>
    <style>
        .spaceDiv {
            height: 10px;
        }
    </style>
</head>

<h1>Order Details</h1>
<div>
    <h4>Product and Amounts</h4>
</div>

<div class="spaceDiv">

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => order.Product)
                </td>
                <td>
                    @Html.DisplayFor(model => order.Amount)
                </td>
            </tr>
        }
    </tbody>
</table>