@model PlaceOrderViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Place Order</h1>
<div>
    <h4>Select Amounts you would like to order</h4>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderProducts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @for (int i = 0; i < Model.ProductViewModels.Count(); i++)
                {
                    

                    <label asp-for="@Model.ProductViewModels[i].ProductName" class="control-label">@Model.ProductViewModels[i].ProductName</label>
                    <input asp-for="@Model.ProductViewModels[i].Amount" class="form-control" />
                    <input asp-for="@Model.ProductViewModels[i].ProductName" type="hidden"class="control-label" />
                }

                @*
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
                *@
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}