@{
    ViewData["Title"] = "Home";
}

<head>
    <style>

    </style>
</head>


<div class="text-center">
    <h1 class="display-4">Welcome to Dumb McDonald's!</h1>
    <h3>Please Select One of the Above Options.</h3>
    <p>Have a nice day</p>
</div>
