@model CustomerViewModel
@{
    ViewData["Title"] = "Create";
}

<head>
    <style>

        a {
            color: #DA291C;
        }

        a:hover {
            color: #FF7700;
        }

        .btn-primary {
            background-color: #DA291C;
        }

        .btn-primary:hover {
            background-color: #FFC72C;
        }

        .rightDiv {
            float: right;
        }

        #spaceDiv {
            width: 25px;
        }

        #centerDiv {
            text-align: center;
            margin: auto;
        }
    </style>
</head>


<h1>Customers</h1>
<div>
    <h4>Create a new Account</h4>
</div>

<div class="row">
    <div class="col-md-4" id="centerDiv">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="rightDiv">
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}